/* Stylesheet for my Landing Page */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FFE6C0;
}
header {
    text-align: center;
    background-color: #ffad9b;
    padding: 1em;
    margin: -.5em -.5em 0 -.5em;
}
h1 {
    border-style: dashed;
    border-radius: .5em;
    border-color: #C1F0FF;
    border-width: .1em;
    padding-left: -5em;
}
nav {
    background: rgb(163,233,255);
    background: linear-gradient(180deg, rgba(163,233,255,1) 0%, rgba(193,240,255,1) 35%, rgba(255,230,192,1) 78%, rgba(255,173,155,1) 100%);
    margin: -1em -.5em 0 -.5em;
    text-align: center;
}
.navList {
    text-align: center;
    display: inline-block;
    list-style: none;
    padding: .5em 2em 0 2em;
}
.contactList {
    padding: 5px;
    list-style: none;
}
h2 {
    background-color: #C1F0FF;
    padding: .2em;
    border-radius: .5em;
}
a {
    text-decoration: none;
    color: #A3E9FF;
}
section {
    padding: 1em;
}

@media (min-width: 720px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: larger;
    }
    header {
        grid-column: span 2;
    }
    nav {
        grid-column: span 2;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: xx-large;
    }
    header {
        grid-column: span 2;
    }
    nav {
        grid-column: span 2;
        text-align: center;
    }
}
